<div class="d-flex flex-row min-vh-100">
  <app-sidebar
    [isOpen]="sidebarOpen()"
    [mobileSidebarVisible]="mobileSidebarVisible()"
    (click)="toggleMobileSidebar($event)"
    (sidebarToggle)="toggleSidebar()"
  />

  <div class="app-content">
    <app-header
      class="sticky-top"
      [isAdmin]="isAdmin()"
      [showSidebar]="sidebarOpen()"
      [userName]="userName()"
      (click)="toggleMobileSidebar($event)"
      (logout)="handleLogout()"
      (toggleSidebar)="toggleSidebar()"
    />

    <main class="flex-grow-1 main-content" (click)="toggleMobileSidebar($event)">
      <router-outlet />
    </main>

    @if (!isFeedRoute()) {
      <app-footer />
    }
  </div>
</div>
