<div class="d-flex flex-row min-vh-100">
  <app-sidebar
    [isOpen]="sidebarOpen()"
    [showMobileSidebar]="showMobileSidebar()"
    (toggleMobileSidebar)="toggleMobileSidebar($event)"
  />

  <div class="app-content">
    <app-header
      class="sticky-top"
      [isAdmin]="isAdmin()"
      [showSidebar]="sidebarOpen()"
      [userName]="userName()"
      [showMobileSidebar]="showMobileSidebar()"
      (logout)="handleLogout()"
      (toggleSidebar)="toggleSidebar()"
      (toggleMobileSidebar)="toggleMobileSidebar($event)"
    />

    <main class="flex-grow-1 main-content">
      <router-outlet />
    </main>

    @if (!isFeedRoute()) {
      <app-footer />
    }
  </div>
</div>
