@use 'common.scss' as *;

aside {
  position: fixed;
  top: 48px;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 1020;
  overflow-x: hidden;
  overflow-y: auto;
  height: fit-content;
  max-height: calc(100vh - 52px);

  &.is-hidden {
    display: none;
  }
}

.nav-item-icon {
  padding: 3px 0;
  margin-right: 1rem;
}

.sidebar-brand {
  height: 56px;
  padding-top: 6px;
  padding-bottom: 6px;
  background: $brand-color;
}

@include media-breakpoint-up(sm) {
  aside {
    height: 100vh;
    width: 4.5rem;
    position: sticky;
    top: 0;
    max-height: none;
    overflow: visible;
    background-color: $bg-tertiary;

    &.is-open {
      width: 250px;
    }

    &:not(.is-open) {
      .sidebar-brand-name {
        display: none;
      }

      .nav .nav-link {
        text-align: center;
      }
    }
  }

  .nav-item-icon {
    margin-right: 0;
  }

  .nav-link.is-open {
    display: flex;
  }

  .nav-item-label.is-hidden {
    display: none;
  }
}
