<aside
  class="d-sm-flex flex-column flex-shrink-0 sticky-top min-vh-100"
  [class.is-hidden]="!showMobileSidebar()"
  [class.is-open]="isOpen()"
  (click)="showMobileSidebar() ? onToggleMobileSidebar($event) : null"
>
  <div class="sidebar-brand d-flex flex-row align-items-center justify-content-center text-dark">
    <img alt="Logo" height="44" src="logo.svg" />
    <span class="ps-3 sidebar-brand-name">{{ 'Aepyornis' | translate }}</span>
  </div>

  <div class="overflow-y-auto bg-body-tertiary">
    <ul
      class="nav nav-pills flex-column mb-auto"
      [class.is-hidden]="!isOpen()"
      [class.nav-flush]="!isOpen()"
    >
      @for (item of menuItems(); track item.route) {
        <li class="nav-item">
          <a
            class="nav-link link-body-emphasis rounded-0 py-3 border-bottom"
            placement="right"
            routerLinkActive="active"
            triggers="hover"
            [class.is-open]="isOpen()"
            [disableTooltip]="isOpen()"
            [ngbTooltip]="item.label | translate"
            [routerLink]="item.route"
            [routerLinkActiveOptions]="
              item.route === '/profile'
                ? {
                    paths: 'exact',
                    queryParams: 'ignored',
                    matrixParams: 'ignored',
                    fragment: 'ignored',
                  }
                : {
                    paths: 'subset',
                    queryParams: 'ignored',
                    matrixParams: 'ignored',
                    fragment: 'ignored',
                  }
            "
          >
            <app-icon
              class="nav-item-icon"
              size="18px"
              [class.me-3]="isOpen()"
              [name]="item.iconKey"
            />
            <span class="nav-item-label" [class.is-hidden]="!isOpen()">{{
              item.label | translate
            }}</span>
          </a>
        </li>
      }
    </ul>
  </div>
</aside>
